Repository CarsonDavis/lens-calculator: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,css,md}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    typecheck:
      run: npm run typecheck

update linting to be automatic
  lefthook.yml
Due: none

add cicd
  .github/workflows/ci.yml
  amplify.yml
  design_docs/README.md
  design_docs/ci-cd.md
  src/chat_messages.md
Due: format

update how i built this
  .github/chat_messages.md
  README.md
  design_docs/dark-mode-comparisons.png
  how-i-built-this.md
Due: format

add link to actual app to readme
  README.md
Due: format

add url persistence and sharing
  how-i-built-this.md
  src/App.tsx
  src/atoms/derived.ts
  src/atoms/formats.ts
  src/atoms/index.ts
  src/atoms/url.ts
  src/chat_messages.md
  src/components/TargetPanel.tsx
  src/utils/url.ts
Due: lint, format

fix cutoff bug and improve target behavior
  how-i-built-this.md
  src/chat_messages.md
  src/components/CollapsiblePanel.tsx
  src/components/InfoPanel.tsx
  src/components/NumberInput.tsx
  src/components/TargetPanel.tsx
Due: lint, format

fix aperture calculation bug
  how-i-built-this.md
  src/calc/README.md
  src/calc/calculate.test.ts
  src/calc/calculate.ts
  src/calc/chat_messages.md
  src/calc/equivalence.test.ts
  src/calc/equivalence.ts
Due: lint, format

improve equivalency calculation
  src/calc/README.md
  src/calc/calculate.ts
  src/calc/equivalence.test.ts
  src/calc/equivalence.ts
Due: lint, format

add custom sensors
  design_docs/architecture.md
  how-i-built-this.md
  src/atoms/formats.ts
  src/atoms/index.ts
  src/calc/types.ts
  src/chat_messages.md
  src/components/CustomFormatModal.tsx
  src/components/FormatDropdown.tsx
  src/components/Modal.tsx
  src/index.css
Due: lint, format

create a delta for our pr
  delta.md
Due: format

update amplify docs
  design_docs/amplify-pr-preview-guide.md
  design_docs/ci-cd.md
Due: format

add terraform IaC for Amplify infrastructure
  .gitignore
  infrastructure/.terraform.lock.hcl
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/provider.tf
  infrastructure/terraform.tf
  infrastructure/variables.tf
Due: none

minor documentation updates to include amplify
  design_docs/architecture.md
  design_docs/ci-cd.md
  how-i-built-this.md
Due: format
